// We can import bulma into the project using Sass.

$navbar-background-color: #FF5722
$button-background-color: #FFAB91

$box-background-color: #FBE9E7

#ver-menu
    line-height: 2.5

@import "../node_modules/bulma/bulma.sass"
