// We can import bulma into the project using Sass.
$body-background-color: #FBE9E7
$navbar-background-color: #FF5722
$button-background-color: #FFCCBC

$radius-rounded: 18px
$radius-large: 18px
$control-radius: 9px

#ver-menu
    line-height: 2.5

@import "../node_modules/bulma/bulma.sass"
